<% layout("/layouts/boilerplate") %>

<body class="bg-dark text-light">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card bg-danger text-light shadow rounded p-4">
          <h3 class="card-title text-center mb-4">NO Account IN Your Enrollment</h3>
          
          <p class="text-center mb-4">
            Make Sure You Signup at First
          </p>

          <div class="text-center">
            <a href="/students %>" class="btn btn-warning fw-bold">
              Back to DashBoard
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

