<% layout("/layouts/boilerplate") %>

<style>
    .resource-link {
        text-decoration: solid;
    }

    .resource-card {
        background-color: #ffe5e5;
        aspect-ratio: 1 / 1;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .resource-card:hover {
        background-color: #7bd8f7;
        transform: scale(1.05);
    }
</style>

<div class="container mt-5">
    <h2 class="text-center mb-4 fade-pop delay-1" style="color: aliceblue; font-family: 'Gill Sans', Calibri, sans-serif;">
        Department Resources
    </h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

        <!-- Semester 3 -->
        <a href="https://drive.google.com/drive/folders/1YL7uh4DwZtyT-6jkpa9AulgVw1Chv66J " class="resource-link d-flex justify-content-center">
            <div class="col fade-pop delay-3">
                <div class="resource-card border rounded shadow-sm h-100 
                            d-flex flex-column justify-content-between align-items-center p-3">
                    <h5>Semester 3</h5>
                    <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" width="100">
                    <hr class="w-100">
                </div>
            </div>
        </a>

        <!-- Semester 4 -->
        <a href="https://drive.google.com/drive/folders/15ItzQf4JdnUj8Y9HuxE0SR3oHEgUiYG6" class="resource-link d-flex justify-content-center">
            <div class="col fade-pop delay-4">
                <div class="resource-card border rounded shadow-sm h-100 
                            d-flex flex-column justify-content-between align-items-center p-3">
                    <h5>Semester 4</h5>
                    <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" width="100">
                    <hr class="w-100">
                </div>
            </div>
        </a>

        <!-- Semester 5 -->
        <a href="https://drive.google.com/drive/folders/1N7FqI1hxmyiIggwAhfQ7UY-bOnfH7N6D" class="resource-link d-flex justify-content-center">
            <div class="col fade-pop delay-5">
                <div class="resource-card border rounded shadow-sm h-100 
                            d-flex flex-column justify-content-between align-items-center p-3">
                    <h5>Semester 5</h5>
                    <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" width="100">
                    <hr class="w-100">
                </div>
            </div>
        </a>

        <!-- Semester 6 -->
        <a href="https://drive.google.com/drive/folders/1pYlHEkHWXzA7PdbKaa3RDRsNB3cK3x1k" class="resource-link d-flex justify-content-center">
            <div class="col fade-pop delay-6">
                <div class="resource-card border rounded shadow-sm h-100 
                            d-flex flex-column justify-content-between align-items-center p-3">
                    <h5>Semester 6</h5>
                    <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" width="100">
                    <hr class="w-100">
                </div>
            </div>
        </a>

        <!-- Semester 7 -->
        <a href="https://drive.google.com/drive/folders/1noOtcf4Z9LfmSf9JkWaizJSNBEsTrSCC" class="resource-link d-flex justify-content-center">
            <div class="col fade-pop delay-7">
                <div class="resource-card border rounded shadow-sm h-100 
                            d-flex flex-column justify-content-between align-items-center p-3">
                    <h5>Semester 7</h5>
                    <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" width="100">
                    <hr class="w-100">
                </div>
            </div>
        </a>

        <!-- Semester 8 -->
        <a href="https://drive.google.com/drive/folders/1PyTURWoKHvBHva_oXq1H_6sHgUONePUI" class="resource-link d-flex justify-content-center">
            <div class="col fade-pop delay-7">
                <div class="resource-card border rounded shadow-sm h-100 
                            d-flex flex-column justify-content-between align-items-center p-3">
                    <h5>Semester 8</h5>
                    <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" width="100">
                    <hr class="w-100">
                </div>
            </div>
        </a>

    </div>

    <p class="author text-center mt-4" style="color: aqua;">
        Made by Swapneel 👋
    </p>
</div>
